* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
html {
  scroll-behavior: smooth;
  font-size: 18px;
}

nav {
  background-color: #9dc6c9;
  color: #042434;
  height: 60px;
  font-size: 1.2rem;
}

nav .main {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 1158px;
  padding: 15px 20px 0px 20px;
  margin: auto;
}
nav a {
  color: #042434;
}
nav a:hover {
  text-decoration: none;
  color: rgb(141, 141, 21);
  transform: scale(1.5);
}

.list {
  list-style: none;
  display: flex;
  margin-right: 40px;
}

li {
  margin-left: 45px;
}

/*#header {
  background: #bfddde;*/
#header {
  background-image: url(image/background.jpg);
  background-size: cover;
  padding: 10px;
  margin: auto;
  padding-top: 30px;
  text-align: center;
  box-shadow: 1px 2px 5px #999999;
  margin-bottom: 30px;
}

#picture {
  border-radius: 50%;
  margin: auto;
  box-shadow: 0px 0px 5px 2px #999999;
}

.nom {
  margin-top: 10px;
  font-family: "Lora", serif;
  font-size: 45px;
  color: #c4e5f3;
  letter-spacing: 0.2px;
  text-shadow: 1px 1px 2px #999999;
}

#message {
  padding-top: 20px;
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-size: 1.8rem;
  margin: auto;
}

.block {
  height: 30px;
}

p {
  line-height: 1.5;
}

.col1 {
  line-height: 1.5;
}

.inline {
  display: inline;
  width: 450px;
}

.inline2 {
  display: inline;
  width: 400px;
}

/*projet */
.list2 {
  list-style: none;
  max-width: 560px;
  margin: auto;
}
.list2 a {
  color: black;
}
.list2 li {
  margin-bottom: 7px;
}
/*centre d'intérêt */
.namePart3 {
  font-family: "Lora", serif;
  font-size: 30px;
  margin-bottom: 30px;
  color: #042434;
}

.card-title {
  color: #077b88;
}

div.column {
  padding: 15px;
}

div.card:hover {
  transition: all 0.3s ease;
  transform: translateY(-20px);
  box-shadow: 0px 0px 10px 2px #077b88;
}

#nocolor {
  color: gray;
}
.title {
  text-align: center;
  font-size: 2rem;
}

.info {
  text-align: center;
}

.head1 {
  color: #077b88;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.dash {
  border-top: 1px dashed #8c8b8b;
  width: 250px;
}

.head {
  margin-bottom: 22px;
  color: #077b88;
}

i {
  color: #077b88;
}

.signature {
  font-style: oblique;
  color: #698396;
}

hr.center {
  margin: 10px auto;
}

.smallBlock {
  height: 10px;
}

a:hover {
  text-decoration: none;
  color: #077b88;

  transition: all 0.2s linear;
}

.list a:hover {
  text-decoration: none;
  color: rgb(131, 131, 2);
}

.list2 a:hover {
  font-style: italic;
}
