form .nom {
    grid-area: n;
}
form .email {
    grid-area: e;
}
form .message {
    grid-area: m;
}
form button{
    grid-area: b;
    justify-self: end;
}

form input, form textarea{
    width: 100%;
    border:none;
    border-bottom: 1px solid rgb(155, 155, 155);
    padding: 5px 10px;
    outline: none;
}
form input:focus, form textarea:focus{
    border-color: var(--orange);
    outline: 2px;
    color: var(--orange);
}


input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder
 {
    color: var(--orange);
} 
/* Firefox < 19 */
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: var(--orange);
}
/* Firefox > 19 */
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder{
    color: var(--orange);
}
/* Internet Explorer 10 */
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    color: var(--orange);
}